@import "../../assets/scss/vars";
.app {
    background-color: none;
    .back-btn {
        position: absolute;
        top: 5rem;
        left: 4rem;
        font-size: 3rem;
        color: #f1f1f1;
        cursor: pointer;
    }
}