.con-wrap {
    position: relative;
    width: 490px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    margin-top: 200px;

    .invitor-panel {
        background: #44434C;
        border: 1px solid #343434;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
        border-radius: 4px;
        padding: 15px 25px;
        font-size: 12px;
        color: #C1C1C3;

        .tip {
            text-align: center;
            margin-bottom: 30px;
            margin-top: 20px;
        }

        span.close {
            position: absolute;
            right: 10px;
            top: 10px;

            &:hover {
                cursor: pointer;
            }

            img {
                width: 11px;
            }
        }
    }

    .form-ctl {
        background: rgba(0, 0, 0, 0.20);
        border-radius: 2px;
        margin-top: 15px;
        padding: 12px 15px;
        position: relative;
        height: 35px;

        label {
            white-space: nowrap;
        }

        button {
            position: absolute;
            background: linear-gradient(to right, #54B4FF 0%,#7D6BFF 100% );
            color: #FFFFFF;
            border-radius: 2px;
            right: 5px;
            top: 5px;
            padding: 0 12px;
            text-align: center;
            height: 25px;
            font-size: 10px;
            cursor: pointer;
            &:hover {
                -webkit-filter:grayscale(20%);
                -webkit-filter:brightness(90%);
                cursor:pointer;
            };

        }

        &.email {
            padding: 0;

            input {
                background: none;
                border: none;
                padding: 12px 4px 12px 20px;
                width: calc(100% - 80px);
                height: 100%;
                color: #fff;
                font-size: 13px;
            }

            &.error {
                background: rgba(249, 60, 60, 0.26);
            }
        }

        &.feedback {
            text-align: center;
            padding: 0;
            color: #fff;
            font-size: 14px;
            text-align: center;
            background: none;

            div {
                padding: 12px 20px;
            }

            .ok {
                // background: #0490FC;
            }

            .fail {
                color: red;
                opacity: 0.7;
            }
        }
    }

    .errors {
        padding-top: 12px;
        padding-left: 12px;
        color: #ce4242;
    }

    .copy {
        color: #0490FC;
        cursor: pointer;
        right: 10px;
        position: absolute;
    }

    .arrow {
        position: absolute;
        top: -13px;
        right: 50%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6px 14px 6px;
        border-color: transparent transparent rgba(0, 0, 0, 0.40) transparent;

        &:after {
            content: ' ';
            position: absolute;
            top: 2px;
            left: -6px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6px 13px 6px;
            border-color: transparent transparent rgba(0, 0, 0, 0.40) transparent;
        }
    }
}