<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyrights © 2017 iSecStar Company</string>
	<key>CFBundleIdentifier</key>
	<string>com.iSecStar.pkg.Printer</string>
	<key>CFBundleName</key>
	<string>Printer</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2</string>
	<key>IFMajorVersion</key>
	<integer>1</integer>
	<key>IFMinorVersion</key>
	<integer>0</integer>
	<key>IFPkgBuildDate</key>
	<date>2016-08-29T09:59:58Z</date>
	<key>IFPkgBuildVersion</key>
	<string>15D21</string>
	<key>IFPkgCreator</key>
	<string>IcebergBuilder 1.3.1</string>
	<key>IFPkgFlagAllowBackRev</key>
	<false/>
	<key>IFPkgFlagAuthorizationAction</key>
	<string>AdminAuthorization</string>
	<key>IFPkgFlagDefaultLocation</key>
	<string>/</string>
	<key>IFPkgFlagFollowLinks</key>
	<false/>
	<key>IFPkgFlagInstalledSize</key>
	<integer>25000</integer>
	<key>IFPkgFlagIsRequired</key>
	<true/>
	<key>IFPkgFlagOverwritePermissions</key>
	<true/>
	<key>IFPkgFlagRelocatable</key>
	<false/>
	<key>IFPkgFlagRestartAction</key>
	<string>NoRestart</string>
	<key>IFPkgFlagRootVolumeOnly</key>
	<false/>
	<key>IFPkgFlagUpdateInstalledLanguages</key>
	<false/>
	<key>IFPkgFormatVersion</key>
	<real>0.1000000014901161</real>
</dict>
</plist>
